<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<table border="1">
    <col width="200">
    <col width="500">
    <col width="200">
    <col width="100">
    <tr>
        <td align="right" colspan="4"><a th:href="@{/logout}">> logout <</a></td>
    </tr>
    <tr>
        <td align="center" colspan="4">
            <a th:href="@{/register}">Add user</a>
            |
            <a th:href="@{/employees}">User list</a>
            |
            <a th:href="@{/tasks}">All tasks</a>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="4">Some admins actions that will be realized in future.</td>
    </tr>
    <tr>
        <td th:text="${employee.surname} + ' ' + ${#strings.substring(employee.firstname,0,1)} + '. ' + ${#strings.substring(employee.middlename,0,1)} + '.'"/>
        <td align="right" colspan="3" th:text="'Department: ' + ${employee.department} + ' | Position: ' + ${employee.position}"/>
    </tr>
    <tr>
        <td>My tasks</td>
    </tr>
    <tr th:each="item : ${employee.tasks}">
        <td th:text="${item.head}"/>
        <td th:text="${item.body}"/>
        <td align="center" th:text="${item.priority}"/>
        <td align="center" th:text="${item.status}"/>
    </tr>
</table>
</body>
</html>