<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<html lang="en" xmlns:sec="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee page</title>
</head>
<body>
<table border="1">
    <col width="200">
    <col width="570">
    <col width="100">
    <col width="100">
    <col width="80">
    <tr>
        <td align="right" colspan="5"><a th:href="@{/logout}">> logout <</a></td>
    </tr>
    <tr sec:authorize="hasAnyRole('ADMIN', 'TEAMLEAD')">
        <td align="center" colspan="5">
            <a th:href="@{/register}">Add user</a>
            |
            <a th:href="@{/employees}">User list</a>
            |
            <a th:href="@{/tasks}">All tasks</a>
        </td>
    </tr>
    <tr sec:authorize="hasRole('ADMIN')">
        <td align="center" colspan="5">Some admins actions that will be realized in future.</td>
    </tr>
    <tr>
        <td th:text="${employee.surname} + ' ' + ${#strings.substring(employee.firstname,0,1)} + '. ' + ${#strings.substring(employee.middlename,0,1)} + '.'"/>
        <td align="right" colspan="4" th:text="'Department: ' + ${employee.department} + ' | Position: ' + ${employee.position}"/>
    </tr>
    <tr>
        <td>My tasks</td>
    </tr>
    <tr th:each="item : ${employee.tasks}">
        <td th:text="${item.head}"/>
        <td th:text="${item.body}"/>
        <td align="center" th:text="${item.priority}"/>
        <td align="center" th:text="${item.status}"/>
        <td>
            <form th:method="GET" th:action="@{/tasks/{id}/edit(id=${item.getId()})}">
                <input style='width:80px' type="submit" value="> edit <"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>