<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/register}">
    <table border="1">
        <col width="250">
        <col width="250">
        <col width="500">
        <tr>
            <td align="right" colspan="4"><a th:href="@{/logout}">> logout <</a></td>
        </tr>
        <tr>
            <td align="center" colspan="3">
                <a th:href="@{/employee}">Мой профиль</a>
                |
                <a th:href="@{/employees}">Список пользователей</a>
                |
                <a th:href="@{/tasks}">Список всех задач</a>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="3">Добавление нового пользователя</td>
        </tr>
        <tr>
            <td><label for="username">Логин пользователя: </label></td>
            <td><input style='width:250px' type="text" th:field="${newUser.username}" id="username"/></td>
        </tr>
        <tr>
            <td><label for="password">Пароль: </label></td>
            <td><input style='width:250px' type="text" th:field="${newUser.password}" id="password"/></td>
        </tr>
        <tr>
            <td><label for="passwordConfirmation">Пароль еще раз: </label></td>
            <td><input style='width:250px' type="text" th:field="${newUser.passwordConfirmation}" id="passwordConfirmation"/></td>
        </tr>
        <tr>
            <td><label for="firstname">Имя: </label></td>
            <td><input style='width:250px' type="text" th:field="${newEmployee.firstname}" id="firstname"/></td>
        </tr>
        <tr>
            <td><label for="surname">Фамилия: </label></td>
            <td><input style='width:250px' type="text" th:field="${newEmployee.surname}" id="surname"/></td>
        </tr>
        <tr>
            <td><label for="middlename">Отчество: </label></td>
            <td><input style='width:250px' type="text" th:field="${newEmployee.middlename}" id="middlename"/></td>
        </tr>
        <tr>
            <td><label for="department">Департамент: </label></td>
            <td><input style='width:250px' type="text" th:field="${newEmployee.department}" id="department"/></td>
        </tr>
        <tr>
            <td><label for="position">Должность: </label></td>
            <td><input style='width:250px' type="text" th:field="${newEmployee.position}" id="position"/></td>
        </tr>
        <tr>
            <td><input style='width:250px' type="submit" value="Добавить"/></td>
        </tr>
    </table>
</form>
</body>
</html>